@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Tailwind's dark mode */
html,
body {
  @apply bg-white text-gray-900 dark:bg-gray-950 dark:text-white;
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}